.Header {
  /* Box model */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -4rem;
  padding: 0 1rem;
  height: 4rem;

  /* Visual */
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.Logo {
  /* Typography */
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

.Navigation__list {
  /* Box model */
  display: flex;
  flex-direction: row;

  /* Typography */
  font-size: .9rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;

  /* Visual */
  color: #999999;
}

.Navigation__item {
  list-style: none;
}

.Navigation__item:not(:last-child) {
  margin-right: 2rem;
}

.Filter__list {
  /* Box model */
  display: flex;
  flex-direction: row;

  /* Typography */
  font-size: .8rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;

  /* Visual */
  color: #999999;
}

.Filter__item {
  list-style: none;
}

.Filter__item:not(:last-child) {
  margin-right: 2rem;
}

.Filter__svg-icon {
  width: 1rem;
  height: 1rem;
  margin-bottom: .2rem;
}

.Filter__svg-icon path,
.Filter__svg-icon polygon,
.Filter__svg-icon rect {
  fill: #1A4603;
}

.Filter__link {
  /* Box model */
  display: flex;
  flex-direction: column;
  align-items: center;
}
